body {
  background: rgba(120, 140, 173,1);
  margin: 0;
  height: 100vh;
  width: 100vw;   
  color: white;
  gap: 1em;
}

.flex-row-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

label{
font-size: 30px;
}

.loginForm{
  height: 80%;
  max-height: 600px;
}

.loginForm, .homeButtons {
  gap: 1.5rem;
}

.loginForm > button, .loginForm > input, .loginForm > select {
  width: 330px;
  height: 60px;
  font-size: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(42, 65, 112,1);
}

.loginForm > button {
  font-weight: Bold;
}

.loginForm > input {
  font-weight: Medium;
  border: 1px solid rgba(255,255,255,1);
}

.loginForm > select {
  font-weight: Medium;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align:center;
}

.homeButtons > form > button , .homeButtons > button {
  width: 330px;
  height: 60px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(42, 65, 112,1);
  font-family: Outfit;
  font-weight: Bold;
  font-size: 24px;
}

.menu{
  height: 10%;
  max-height: 100px;
}

.menu, .menuButtons {
       gap: 1.5rem;
 }

.menu > form > button, .menu > input, .menu > select {
  width: flex;
  height: 60px;
  font-size: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(42, 65, 112,1);
}

.groupContainer{
  width: 50%;
  font-size: 30px;
  padding: 1em;
  gap: 1em;
}

.container {
  font-size: 30px;
  padding: 1em;
}

.groups, .users{
  width: 100%;
  max-height: 600px;
  overflow: scroll;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: flex-start;
}

.users{
  width: 300px;
}

.groups > .element, .groups > .balance {
  width: 100%;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  gap: 1em;
}

.users > .element {
  width: 90%;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  gap: 1em;
}

.groups > .element > button , .groups > button, .users > .element > button , .users > button {
  width: calc(100%);
  height: calc(100%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(42, 65, 112,1);
  font-family: Outfit;
  font-weight: Bold;
  font-size: 24px;
}

.groups > .element > .flex-row-center-center{
  gap: 1em;
}

.groups > .element > label, .groups > .element > input, .users > .element > label, .users > .element > input{
  font-family: Outfit;
  font-weight: Medium;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align:center;
}

@media only screen and (max-device-width:420px){
  
  .loginForm {
    height: 80%;
    max-height: 300px;
    gap: 0.5rem;
  }

  .loginForm > button, .loginForm > input, .loginForm > select, 
  .homeButtons > form > button , .homeButtons > button {
    width: 150px;
    height: 30px;
    font-size: 15px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .container {
    font-size: 15px;
    width: 90%;
    padding: 1em;
    gap:1em;
  }
  .groups{
    gap: 1rem;
    max-height: 300px;
    height: 80%;
  }
  .groups > .element {
    width: 70%;
    height: 20px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 1em;
    gap: 1em;
  }
  .groups > .element > button , .groups > button {
    width: calc(100%);
    height: calc(100%);
    font-size: 15px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .groups > .element > label, .groups > .element > input, .groups > .element > .paidBy {
    font-size: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align:center;
        font-family: Outfit;
        font-weight: Medium;
  }
  .groups > .element > img{
    width: 10px;
    height: 10px;
  }

}