<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_blue.css">
</head>
<form id="data" th:action="@{/duties/addDuties}" method="POST" enctype="multipart/form-data"> </form>

<body>
<div class="menu">
    <form th:action="@{/groups}">
        <button type="submit"  th:value="${group.id}" th:name="selectedGroup"> Back</button>
    </form>
    <form th:action="@{/users}">
        <button>Home</button>
    </form>
    <form th:action="@{/users/changeUser}">
        <button>Your account</button>
    </form>
        <form th:action="@{/auth/login}">
            <button class="logoutButton" type="submit">Log out</button>
        </form>
</div>

<div class="container flex-column-center-center">
    <div class="groupHeadline">
        <label>ADD DUTY</label>
    </div>
    <div class="flex">
        <div th:object="${duty}">
            <div class="loginForm flex-column-center-center">
                <input form="data" th:field="*{name}" type="text" name="name" placeholder="name"></input>
                <input form="data" th:field="*{value}" type="text" name="value" placeholder="value"></input>
            </div>
            <div class="loginForm">
                <label>Done by</label>
                <select form="data" name="userId">
                    <option value="">Select User</option>
                    <option th:each="user, iterStat : ${users}"
                            th:value="${user.id}"
                            th:text="${user.name}">
                    </option>
                </select>
            </div>
            <div class="flex-column-center-center">
                <div class="loginForm">
                    <label for="beginDate">Begin Date:</label>
                    <input form="data" type="text" id="beginDate" name="beginDate" th:field="*{beginDate}" placeholder="Begin Date & Time"/>
                </div>
                <div class="loginForm">
                    <label for="endDate">End Date:</label>
                    <input form="data" type="text" id="endDate" name="endDate" th:field="*{endDate}" placeholder="End Date & Time"/>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
            </div>
            <script th:src="@{/js/form.js}"></script>
        </div>

        <label for="photoFile" class="photoInput">
            <input type="file" id="photoFile" name="photoFile" accept="image/*" form="data" style="display: none;"/>
            <span id="file-upload-text">Choose Photo</span>
        </label>
    </div>
    <span id="file-name"></span>
    <label th:text="${message}"></label>

    <button class="elementButtons" type="submit" th:value="${group.id}" th:name="groupId" form="data">Add</button>

</div>

</body>
</html>