<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_blue.css">

</head>

<body>
<div class="menu flex-row-center-center">
    <form th:action="@{/users}">
        <button>Home</button>
    </form>
    <form th:action="@{/users/changeUser}">
        <button>Your account</button>
    </form>
    <form th:action="@{/auth/login}">
        <button type="submit">Log out</button>
    </form>
</div>
<form id="data" th:action="@{/events/addEvents}" method="POST" enctype="multipart/form-data" > </form>
<form id="get_back" th:action="@{/groups}"></form>
<div class="flex-column-center-center">
    <label th:text="'Add event for group ' + ${group.name}"></label>
    <div class="flex-row-center-center">
        <div th:object="${event}" class="container flex-row-center-center">

            <div class="loginForm flex-column-center-center">
                <input form="data" th:field="*{title}" type="text" name="title" placeholder="title"/>

                <label for="beginDate">Begin Date:</label>
                <input form="data" type="text" id="beginDate" name="beginDate" th:field="*{start}" placeholder="Begin Date & Time"/>

                <label for="endDate">End Date:</label>
                <input form="data" type="text" id="endDate" name="endDate" th:field="*{end}" placeholder="End Date & Time"/>
                <label for="photoFile" class="photoInput">
                    <input type="file" id="photoFile" name="photoFile" accept="image/*" form="data" style="display: none;"/>
                    <span id="file-upload-text">Choose Photo</span>
                </label>
                <span id="photo"></span>
                <label th:text="${message}"></label>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
            <script th:src="@{/js/form.js}"></script>

        </div>
    </div>

    <div class="homeButtons flex-row-center-center">
            <button type="submit" th:value="${group.id}" th:name="selectedGroup" form="get_back">Back</button>
            <button type="submit" th:value="${group.id}" th:name="groupId" form="data">Add</button>
    </div>
</div>

</body>
</html>