<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>
    <div class="container flex-column-center-center">

        <template id="expense-template">
            <div class="element">
                <label></label>
                <paidBy></paidBy>
                <amount></amount>
            </div>
        </template>

        <label th:text="${selectedGroup.name}"/>

        <div class="groups flex-row-center-center">
            <div class="element flex-column-center-center" th:each="expense, iterStat : ${expenses}">
                    <div class="flex-row-center-center">
                        <label th:text="${expense.name}"/>
                        <label th:text="${expense.amount}"/>
                    </div>
                    <div>
                        <label class="paidBy">Paid by</label>
                        <label th:text="${expense.paidBy.name}"/>
                    </div>
            </div>
        </div>
    </div>
    <div class="homeButtons flex-row-center-center">
        <form th:action="@{/users}" class = "homeButtons">
            <button type="submit">Back</button>
        </form>
        <form th:action="@{/expenses/addExpense}" class = "homeButtons">
            <button type="submit"  th:value="${selectedGroup.id}" th:name="selectedGroup"> Add Expense</button>
        </form>
    </div>
</body>
</html>