<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>
<div class="menu flex-row-center-center">
    <form th:action="@{/users}">
        <button>Home</button>
    </form>
    <form th:action="@{/calendar}">
        <button>Your account</button>
    </form>
    <form th:action="@{/auth/login}">
        <button type="submit">Log out</button>
    </form>
</div>
<form id="data" th:action="@{/expenses/addExpenses}" method="POST"> </form>
<form id="get_back" th:action="@{/groups}"  ></form>

<label th:text="${group.name}"></label>
<div class="flex-row-center-center">
    <div class="container flex-column-center-center">

        <div th:object="${expense}" class="loginForm flex-column-center-center">
            <input form="data" th:field="*{name}" type="text" name="name" placeholder="name"></input>
            <input form="data" th:field="*{amount}" type="text" name="amount" placeholder="amount"></input>
            <label>Paid by</label>

            <select form="data" name="userId">
                <option value="">Select User</option>
                <option th:each="user, iterStat : ${users}"
                        th:value="${user.id}"
                        th:text="${user.name}">
                </option>
            </select>
        </div>
        <label th:text="${message}"></label>
    </div>
    <form class="users flex-column-center-center">
        <label>Select users</label>
        <div class="element" th:each="user, iterStat : ${users}">
            <div class="flex-row-center-center">
                <div class="flex-row-center-center">
                    <label th:text="${user.name}" />
                </div>
                <input form="data" type="checkbox" name="userIds" th:value="${user.id}" />
            </div>
        </div>
    </form>
</div>
    <div class="homeButtons flex-row-center-center">

            <button type="submit" th:value="${group.id}" th:name="selectedGroup" form="get_back">Back</button>
            <button type="submit" th:value="${group.id}" th:name="groupId" form="data">Add</button>
    </div>

</body>
</html>