<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body >
<script>
    const jwtToken = [[${jwtToken}]]; // Thymeleaf inserts the token here
    if (jwtToken) {
        localStorage.setItem("jwtToken", jwtToken); // Store it in localStorage for client-side use
    }
</script>
    <div class="container flex-column-center-center">

        <label>Your Groups</label>

</body>
</html>