<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body class="flex-column-center-center">

    <form th:action="@{/auth/login}" th:object="${user}" method="POST" class="loginForm flex-column-center-center">
        <input type="text" id="name" th:field="*{name}" name="username" placeholder="username"></input>
        <input type="password" id="password" th:field="*{password}" name="password" placeholder="password"></input>

        <p th:text="${message}"></p>
        <div class="loginForm flex-row-center-center">
            <button name="login" th:action="@{/auth/login}" value="login" type="submit">Log in</button>
        </div>
    </form>
</body>
</html>