<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>

    <div class="menu">
        <form th:action="@{/users}">
            <button>Back</button>
        </form>
        <form th:action="@{/users}">
            <button>Home</button>
        </form>
        <form th:action="@{/users/changeUser}">
            <button>Your account</button>
        </form>
        <form th:action="@{/auth/login}">
            <button class="logoutButton" type="submit">Log out</button>
        </form>
    </div>
    <div class="container flex-column-center-center">
        <div class="groupHeadline">
            <label>CHANGE USER DATA</label>
        </div>
        <div class="flex">
            <form id="data" th:action="@{/users/changeUser}" th:object="${user}" method="POST" class="loginForm flex-column-center-center">
                <input type="text" id="name" th:field="*{name}" name="username" placeholder="username"></input>
                <input type="text" id="email" th:field="*{email}" name="email" placeholder="email"></input>
                <input type="password" id="password" th:field="*{password}" name="password" placeholder="current password"></input>
                <input type="password" id="newPassword"  name="newPassword" placeholder="new password"></input>
                <script th:src="@{/js/form.js}"></script>
            </form>
            <label for="photoFile" class="photoInput">
                <input type="file" id="photoFile" name="photoFile" accept="image/*" form="data" style="display: none;"/>
                <span id="file-upload-text">Choose Photo</span>
            </label>
        </div>
        <span id="file-name"></span>
        <label th:text="${message}"></label>
        <button class="elementButtons" name="changeData" value="changeData" type="submit" form="data">Change Data</button>
    </div>
</body>
</html>